<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>FAQ</title>
<link rel="styleSheet" type="text/css" th:href="@{/CSS/account-layout.css}">
</head>
<body>
	<ul th:replace="page-layout :: userNavBar"></ul>
	
	<div class="container">
		<h3>FAQ</h3>
		
		<p>Vous ne trouvez pas votre réponse ici ? Veuillez nous contacter en envoyant un e-mail à nouredinelamine13@gmail.com.</p>
		
		<h4>Combien de temps puis-je emprunter un livre ?</h4>
		<p>Les livres peuvent être empruntés pendant 21 jours. Ce délai peut être prolongé d'une semaine à la fois, avec un maximum de trois semaines. La prolongation est gratuite et ne peut être effectuée que si personne d'autre n'a effectué de réservation pour ce livre particulier. Le statut de vos livres peut être vérifié sur votre compte de bibliothèque personnel sur notre site Web.</p>
		
		<h4>Comment puis-je réserver un livre ?</h4>
		<p>Recherchez le livre via votre compte de bibliothèque personnel sur notre site Internet et cliquez sur le bouton « Réserver le livre ». Une réservation est valable 7 jours et coûte 1 $ par livre. Si le livre n'est pas récupéré au bout de 7 jours, la réservation sera automatiquement annulée.</p>
		
		<h4>Que se passe-t-il si je ne peux pas rendre un livre à temps ?</h4>
		Une amende de 0,20 $ par livre est facturée par jour. Lorsque vous gardez en votre possession un livre qui aurait dû être restitué, les réservations ne pourront pas être effectuées et les nouvelles commandes ne pourront pas être récupérées.
		
		<h4>Que se passe-t-il si je perds un livre ?</h4>
		<p>Veuillez contacter notre service client dans les plus brefs délais. La bibliothèque facturera un petit prix pour le livre, en fonction de sa valeur..</p>
	</div>
	
</body>
</html>